<footer class="text-center footer-style">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-col">
                <h3>Dirección</h3>
                <p>
                    Xicotepec de Juárez, Puebla - México <br />
                    Fuerte de San Juan #157
                </p>
            </div>
            <div class="col-md-4 footer-col">
                <h3>Mis redes</h3>
                <ul class="list-inline">
                    <li>
                        <a href="https://www.facebook.com/ultrond28/" class="fa fa-facebook"></a>
                        <a href="https://twitter.com/salimcastro12" class="fa fa-twitter"></a>
                        <a href="https://www.instagram.com/_salimcastro/" class="fa fa-instagram"></a>
                        <a href="https://www.youtube.com/channel/UCmNc5mz9tjl3OmIwy_Ym2xg" class="fa fa-youtube"></a>

                    </li>
                </ul>
            </div>
            <div class="col-md-4 footer-col">
                <h3>Salim Rafael Castro Ortiz</h3>
                <p>Estudiante de Ingeniería en Desarrollo y Gestión de Software</p>
            </div>
        </div>
    </div>
</footer>