<div class="card mt-5">
    <div class="card-body">
        <form #postsForm="ngForm" (ngSubmit)="onSubmit(postsForm)">
 
            <div class="form-group">
              <input 
                type="email"
                class="form-control"
                name="correo"
                #name="ngModel"
                [(ngModel)]="postsService.selectPosts.titulo"
                placeholder="Correo"
                >
            </div>
            <div class="form-group">
                <input 
                  type="password"
                  class="form-control"
                  name="password    "
                  #category="ngModel"
                  [(ngModel)]="postsService.selectPosts.contenido"
                  placeholder="Contraseña"
                  >
              </div>
  
            <div class="form-group">
              <br>
              <button class="btn btn-success" type="submit">Ingresar
              </button>
              <br><br>
              <button type="button" class="btn btn-dark" [routerLink]="['/registro']">Regresar al Inicio</button>
            </div>
          </form>
    </div>
  </div>