<div class="card mt-5">
  <div class="card-body">
      <form #postsForm="ngForm" (ngSubmit)="onSubmit(postsForm)">
          <!-- TO UPDATE -->
          <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="postsService.selectPosts.$key">

          <div class="form-group">
            <label for="titulo">Titulo </label><br>
            <input 
              type="text"
              class="form-control"
              name="titulo"
              #name="ngModel"
              [(ngModel)]="postsService.selectPosts.titulo"
              placeholder="Titulo"
              >
          </div>
          <div class="form-group">
            <label for="contenido">Contenido </label><br>
              <input 
                type="text"
                class="form-control"
                name="contenido"
                #category="ngModel"
                [(ngModel)]="postsService.selectPosts.contenido"
                placeholder="Añade tus pensamientos..."
                >
          </div>
          <div class="form-group">
            <label for="sel1">Select list:</label>
            <select class="form-control" id="sel1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
          <div class="form-group">
            <br>
            <button class="btn btn-success" type="submit">Añadir Post
            </button>
            <br><br>
            <button class="btn btn-secondary" type="reset" (click)="resetForm(postsForm)">
                 Reiniciar Formulario
            </button>
            <br><br>
            <button type="button" class="btn btn-dark" [routerLink]="['/']">Regresar al Inicio</button>
          </div>
        </form>
  </div>
</div>