<div class="card mt-5">
    <div class="card-body">
        <form #usuariosForm="ngForm" (ngSubmit)="onSubmit(usuariosForm)">
            <!-- TO UPDATE -->
            <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="usuariosService.selectUsuarios.$key">
  
            <div class="form-group">
              <input 
                type="text"
                class="form-control"
                name="nombre"
                #name="ngModel"
                [(ngModel)]="usuariosService.selectUsuarios.nombre"
                placeholder="Nombre Completo"
                >
            </div>
            <div class="form-group">
                <input 
                  type="email"
                  class="form-control"
                  name="correo"
                  #category="ngModel"
                  [(ngModel)]="usuariosService.selectUsuarios.correo"
                  placeholder="Correo"
                  >
            </div>
            <div class="form-group">
                <input 
                  type="password"
                  class="form-control"
                  name="password"
                  #category="ngModel"
                  [(ngModel)]="usuariosService.selectUsuarios.password"
                  placeholder="Contraseña"
                  >
            </div>
            <div class="form-group">
              <input 
                type="text"
                class="form-control"
                name="carrera"
                #category="ngModel"
                [(ngModel)]="usuariosService.selectUsuarios.carrera"
                placeholder="Carrera"
                >
          </div>
          <div class="form-group">
            <input 
              type="number"
              class="form-control"
              name="cuatrimestre"
              #category="ngModel"
              [(ngModel)]="usuariosService.selectUsuarios.cuatrimestre"
              placeholder="Cuatrimestre"
              >
        </div>
        <div class="form-group">
          <input 
            type="text"
            class="form-control"
            name="grupo"
            #category="ngModel"
            [(ngModel)]="usuariosService.selectUsuarios.grupo"
            placeholder="Grupo"
            >
        </div>
        <div class="form-group">
          <input 
            type="text"
            class="form-control"
            name="matricula"
            #category="ngModel"
            [(ngModel)]="usuariosService.selectUsuarios.matricula"
            placeholder="Matricula"
            >
        </div>
  
            <div class="form-group">
              <br>
              <button class="btn btn-success" type="submit">Añadir Usuario
              </button>
              <br><br>
              <button class="btn btn-dark" type="submit" [routerLink]="['/']">Regresar al Menú
              </button>
              
            </div>
          </form>
    </div>
  </div>